.DS_Store

ScanbotSDK/
.idea/
*xcworkspace/xcuserdata/*
*.xcuserstate
DownloadTemp/
/ScanbotBarcodeSDKUseCasesDemo/ScanbotBarcodeSDKUseCasesDemo.xcodeproj/xcuserdata/sebastianhusche.xcuserdatad/xcschemes/xcschememanagement.plist
